body{
  background: #2f4f4f;
}
h1{
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Odibee Sans', cursive;
  margin-bottom: 0;
}

#css {
  color: yellow;
  font-family: 'Odibee Sans', cursive;
}

.carousel-wrapper {
  height: 200px;
  position: relative;
  width: 400px;
  display: block;
  margin: 50px 50px ;
  border: 2px solid black;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/*[id^= "item"] {
  display: none;
}*/
.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('Airbnb.png');
  background-size: 700px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
.item-2 {
  background: url('g15.png');
  background-size: 700px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
.item-3 {
  background: url('Google.png');
  /*background-position: 10% 10%; */
  background-color: white; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 700px; /* Resize the background image to cover the entire container */
}

*:target ~ .item-1{
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}